[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"

[dev-packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
twine = "*"
yapf = "*"
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
codecov = "*"
pylint = "*"
"aiosqlite3" = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.7"
